<div class="row">
	
	<div class="col-md-4"><h1 class="text-center">To Do</h1><!-- col start #1 -->
		
	<div class="panel panel-info">
	   	<div class="panel-heading">
	   		<h3 class="panel-title">Panel title</h3>
	   	</div>
	   	<div class="panel-body">

	   	</div>
	   	<div class="panel-footer"> Footer </div>
	</div>   

	</div><!-- end col-med-4 #1 --> 

	
	<div class="col-md-4"><h1 class="text-center">Doing</h1><!-- col start #2 -->
		
	<div class="panel panel-default">
	   	<div class="panel-footer">
	   		<h3 class="panel-title">Panel title</h3>
	   	</div>
	   	<div class="panel-body">

	   	</div>
	   	<div class="panel-footer"> Footer </div>
	</div>

	</div><!-- end col-md-4 #2 -->


	<div class="col-md-4"><h1 class="text-center">Done</h1><!-- col start #3 -->
		
	<div class="panel panel-default">
	   	<div class="panel-heading">
	   		<h3 class="panel-title">Panel title</h3>
	   	</div>
	   	<div class="panel-body">

	   	</div>
	   	<div class="panel-footer"> Footer </div>
	</div>

	</div><!-- end col-med-4 #3 -->


</div>